.offer-offer {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.offer-image {
  object-fit: cover;
}
.offer-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  flex-direction: column;
}
.offer-details {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.offer-text {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.offer-text1 {
  font-size: 16px;
  color: #fff;
} 
.offer-text2 {
  color: #fff;
  font-size: 16px;
}
.home-offers a {
  text-decoration: none;
}

@media(max-width: 991px) {
  .offer-image {
    width: 100%;
  }
}
